

body {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  color: #213547;
  margin: 0;
  place-items: center;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logo {
  margin-right: 0.5rem;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.brand-container {
  text-align: center;
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profile-img {
  height: 3rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.profile-detail > p {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 300;
}

.profile-detail > :first-child {
  font-weight: 500;
}

.contact-list-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 30%;
  padding: 0.5rem;
  background-color: whitesmoke;
  overflow-y: auto;
  min-width: 300px;
}

.fill-width {
  width: max-content;
}

.contact-list-search-controller {
  display: flex;
  align-items: center;
  padding-inline: 0.5rem;
  justify-content: space-between;
}

.contact-list-controller-container {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
}

.contact-list-item:hover {
  background-color: rgba(121, 121, 121, 0.199);
  cursor: pointer;
}

.contact-title {
  color: rgb(225, 161, 0);
}

.form-submit-button-container {
  padding: 0 2rem;
  display: flex;
  justify-content: end;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.profile-picture-upload {  
  width: 75%;
}

.favorite-contact-button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  height: fit-content;
  padding: 0;
}