:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  color: #213547;
  background-color: #ffffff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #3640ff;
  filter: contrast(0.9);
}

* {
  margin: 0;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
  height: 3rem;
}

button:hover {
  border-color: #646cff;
  filter: contrast(0.9);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

Button {
  height: 2.5rem;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.root-layout {
  display: flex;
  overflow-y: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 0.5rem;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.brand-container {
  text-align: center;
}

.brand-name {
  font-weight: 700;
  font-size: 1.5rem;
  font-family: Poppins, sans-serif;
  color: rgb(241, 157, 0);
}

.brand-slogan {
  font-weight: 300;
  font-size: 0.7rem;
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profile-img { 
  height: 3rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.profile-detail > p {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 300;
}

.profile-detail > :first-child {
  font-weight: 500;
}

.contact-list-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 30%;
  padding: 0.5rem;
  background-color: whitesmoke;
  overflow-y: auto;
  min-width: 300px;
}

.contact-list-container > * {
  border-radius: 1rem;
  background-color: white;
  border: 1px solid rgba(121, 121, 121, 0.199);
  padding: 0.5rem;
}

.contact-list-search-controller {
  display: flex;
  align-items: center;
  padding-inline: 0.5rem;
  justify-content: space-between;
}

.contact-list-controller-container {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
}

.contact-list-item:hover {
  background-color: rgba(121, 121, 121, 0.199);
  cursor: pointer;
}